.idea/*
.nyc_output
build
node_modules
src/**.js
coverage
*.log
package-lock.json
puid-js-*.tgz
*~
.yarn/*
!.yarn/releases
!.yarn/releases/**
timing
scripts/build/*.js
scripts/build/*.mjs
!scripts/build/mjsify.cjs
